@mixin respond($breakpoint) {
    @if $breakpoint == atSmall {
        @media (min-width: 530px) { @content };
    }

    @if $breakpoint == atMedium {
        @media (min-width: 800px) { @content };
    }

    @if $breakpoint == atLarge {
        @media (min-width: 1010px) { @content };
    }
}

@mixin clearfix {
    &::after {
        content: '';
        clear: both;
        display: table;
    }
}